/* = 
ABEL
= */

@font-face {
    font-family: 'abel';
    src: local('abel/abel-regular.eot'),
         url('abel/abel-regular.eot');
    src: local('abel/abel-regular.eot?#iefix'),
         url('abel/abel-regular.eot?#iefix') format('embedded-opentype'),
         local('abel/abel-regular.woff2'),
         url('abel/abel-regular.woff2') format('woff2'),
         local('abel/abel-regular.woff'),
         url('abel/abel-regular.woff') format('woff'),
         local('abel/abel-regular.ttf'),
         url('abel/abel-regular.ttf') format('truetype'),
         local('abel/abel-regular.svg#abelregular'),
         url('abel/abel-regular.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-abel {font-family: 'abel', sans-serif}

/* = 
ACME
= */

@font-face {
    font-family: 'acme';
    src: url('acme/acme-regular.eot');
    src: url('acme/acme-regular.eot?#iefix') format('embedded-opentype'),
         url('acme/acme-regular.woff2') format('woff2'),
         url('acme/acme-regular.woff') format('woff'),
         url('acme/acme-regular.ttf') format('truetype'),
         url('acme/acme-regular.svg#acmeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-acme {font-family: 'acme', sans-serif}

/* ==============
AGUAFINA - SCRIPT
============== */

@font-face {
    font-family: 'aguafina-script';
    src: url('aguafina-script/aguafina-script.eot');
    src: url('aguafina-script/aguafina-script.eot?#iefix') format('embedded-opentype'),
         url('aguafina-script/aguafina-script.woff2') format('woff2'),
         url('aguafina-script/aguafina-script.woff') format('woff'),
         url('aguafina-script/aguafina-script.ttf') format('truetype'),
         url('aguafina-script/aguafina-script.svg#aguafina_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-aguafina-script {font-family: 'aguafina-script', sans-serif}

/* ==
ALATA
 ==*/

@font-face {
    font-family: 'alata';
    src: url('alata/alata-regular.eot');
    src: url('alata/alata-regular.eot?#iefix') format('embedded-opentype'),
         url('alata/alata-regular.woff2') format('woff2'),
         url('alata/alata-regular.woff') format('woff'),
         url('alata/alata-regular.ttf') format('truetype'),
         url('alata/alata-regular.svg#alataregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-alata {font-family: 'alata', sans-serif}

/* =========
ALEX - BRUSH
========= */

@font-face {
    font-family: 'alex-brush';
    src: url('alex-brush/alexbrush-regular.eot');
    src: url('alex-brush/alexbrush-regular.eot?#iefix') format('embedded-opentype'),
         url('alex-brush/alexbrush-regular.woff2') format('woff2'),
         url('alex-brush/alexbrush-regular.woff') format('woff'),
         url('alex-brush/alexbrush-regular.ttf') format('truetype'),
         url('alex-brush/alex alexbrush-regular.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-alex-brush {font-family: 'alex-brush', sans-serif}

/* ====
ANTONIO
==== */

@font-face {
    font-family: 'antonio';
    src: url('antonio/antonio-bold.eot');
    src: url('antonio/antonio-bold.eot?#iefix') format('embedded-opentype'),
         url('antonio/antonio-bold.woff2') format('woff2'),
         url('antonio/antonio-bold.woff') format('woff'),
         url('antonio/antonio-bold.ttf') format('truetype'),
         url('antonio/antonio-bold.svg#antoniobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'antonio';
    src: url('antonio/antonio-light.eot');
    src: url('antonio/antonio-light.eot?#iefix') format('embedded-opentype'),
         url('antonio/antonio-light.woff2') format('woff2'),
         url('antonio/antonio-light.woff') format('woff'),
         url('antonio/antonio-light.ttf') format('truetype'),
         url('antonio/antonio-light.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antonio';
    src: url('antonio/antonio-regular.eot');
    src: url('antonio/antonio-regular.eot?#iefix') format('embedded-opentype'),
         url('antonio/antonio-regular.woff2') format('woff2'),
         url('antonio/antonio-regular.woff') format('woff'),
         url('antonio/antonio-regular.ttf') format('truetype'),
         url('antonio/antonio-regular.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-antonio {font-family: 'antonio', sans-serif;}


/* ===
COOKIE
=== */

@font-face {
    font-family: 'cookie';
    src: url('cookie/cookie-regular.eot');
    src: url('cookie/cookie-regular.eot?#iefix') format('embedded-opentype'),
         url('cookie/cookie-regular.woff2') format('woff2'),
         url('cookie/cookie-regular.woff') format('woff'),
         url('cookie/cookie-regular.ttf') format('truetype'),
         url('cookie/cookie-regular.svg#cookieregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-cookie {font-family: 'cookie', sans-serif}

/* ================
KINGTHINGS - EXETER
================ */

@font-face {
    font-family: 'kingthings-exeter';
    src: url('kingthings-exeter/kingthings-exeter.eot');
    src: url('kingthings-exeter/kingthings-exeter.eot?#iefix') format('embedded-opentype'),
         url('kingthings-exeter/kingthings-exeter.woff2') format('woff2'),
         url('kingthings-exeter/kingthings-exeter.woff') format('woff'),
         url('kingthings-exeter/kingthings-exeter.ttf') format('truetype'),
         url('kingthings-exeter/kingthings-exeter.svg#kingthings_exeterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-kingthings-exeter {font-family: 'kingthings-exeter', sans-serif}

/* ====================
KINGTHINGS - FOUNDATION
 ====================*/

@font-face {
    font-family: 'kingthings-foundation';
    src: url('kingthings-foundation/kingthings-foundation.eot');
    src: url('kingthings-foundation/kingthings-foundation.eot?#iefix') format('embedded-opentype'),
         url('kingthings-foundation/kingthings-foundation.woff2') format('woff2'),
         url('kingthings-foundation/kingthings-foundation.woff') format('woff'),
         url('kingthings-foundation/kingthings-foundation.ttf') format('truetype'),
         url('kingthings-foundation/kingthings-foundation.svg#kingthings_foundationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-kingthings-foundation {font-family: 'kingthings-foundation', sans-serif}


/* ====
LOBSTER
==== */

@font-face {
    font-family: 'lobster';
    src: local('lobster/lobster.eot'),
         url('lobster/lobster.eot');
    src: local('lobster/lobster.eot?#iefix'),
         url('lobster/lobster.eot?#iefix') format('embedded-opentype'),
         local('lobster/lobster.woff2'),
         url('lobster/lobster.woff2') format('woff2'),
         local('lobster/lobster.woff'),
         url('lobster/lobster.woff') format('woff'),
         local('lobster/lobster.ttf'),
         url('lobster/lobster.ttf') format('truetype'),
         local('lobster/lobster.svg#lobster_13regular'),
         url('lobster/lobster.svg#lobster_13regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-lobster {font-family: 'lobster', sans-serif}

/*==========
MONTSERRAT
==========*/

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-100.woff2'),
         url('montserrat/montserrat-v14-latin-100.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-100.woff'),
         url('montserrat/montserrat-v14-latin-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-100italic.woff2'),
         url('montserrat/montserrat-v14-latin-100italic.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-100italic.woff'),
         url('montserrat/montserrat-v14-latin-100italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-200.woff2'),
         url('montserrat/montserrat-v14-latin-200.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-200.woff'),
         url('montserrat/montserrat-v14-latin-200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-200italic.woff2'),
         url('montserrat/montserrat-v14-latin-200italic.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-200italic.woff'),
         url('montserrat/montserrat-v14-latin-200italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-300.woff2'),
         url('montserrat/montserrat-v14-latin-300.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-300.woff'),
         url('montserrat/montserrat-v14-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-300italic.woff2'),
         url('montserrat/montserrat-v14-latin-300italic.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-300italic.woff'),
         url('montserrat/montserrat-v14-latin-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-500.woff2'),
         url('montserrat/montserrat-v14-latin-500.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-500.woff'),
         url('montserrat/montserrat-v14-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-500italic.woff2'),
         url('montserrat/montserrat-v14-latin-500italic.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-500italic.woff'),
         url('montserrat/montserrat-v14-latin-500italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-600.woff2'),
         url('montserrat/montserrat-v14-latin-600.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-600.woff'),
         url('montserrat/montserrat-v14-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-600italic.woff2'),
         url('montserrat/montserrat-v14-latin-600italic.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-600italic.woff'),
         url('montserrat/montserrat-v14-latin-600italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-700.woff2'),
         url('montserrat/montserrat-v14-latin-700.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-700.woff'),
         url('montserrat/montserrat-v14-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-700italic.woff2'),
         url('montserrat/montserrat-v14-latin-700italic.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-700italic.woff'),
         url('montserrat/montserrat-v14-latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-800.woff2'), 
         url('montserrat/montserrat-v14-latin-800.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-800.woff'),
         url('montserrat/montserrat-v14-latin-800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-800italic.woff2'),
         url('montserrat/montserrat-v14-latin-800italic.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-800italic.woff'),
         url('montserrat/montserrat-v14-latin-800italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-900.woff2'),
         url('montserrat/montserrat-v14-latin-900.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-900.woff'),
         url('montserrat/montserrat-v14-latin-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-900italic.woff2'),
         url('montserrat/montserrat-v14-latin-900italic.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-900italic.woff'),
         url('montserrat/montserrat-v14-latin-900italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: local('montserrat/montserrat-v14-latin-italic.woff2'),
         url('montserrat/montserrat-v14-latin-italic.woff2') format('woff2');
    src: local('montserrat/montserrat-v14-latin-italic.woff'),
         url('montserrat/montserrat-v14-latin-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-regular.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-montserrat {font-family: 'montserrat', sans-serif}

/* PERMANENT MAKER */

@font-face {
     font-family: 'permanent-marker';
     src: url('permanent-maker/permanent-marker-v9-latin-regular.eot');
     src: url('permanent-maker/permanent-marker-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
          url('permanent-maker/permanent-marker-v9-latin-regular.woff2') format('woff2'),
          url('permanent-maker/permanent-marker-v9-latin-regular.woff') format('woff'),
          url('permanent-maker/permanent-marker-v9-latin-regular.ttf') format('truetype'),
          url('permanent-maker/permanent-marker-v9-latin-regular.svg#permanent_markerregular') format('svg');
     font-weight: normal;
     font-style: normal;
}

.font-permanent-maker {font-family: 'permanent-maker', sans-serif}